<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.dsektionen.dcide">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".DCideApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="se.dsektionen.dcide.Activity.LoginActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                    <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

        </activity>
        <activity
            android:name="se.dsektionen.dcide.Activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activity.ChooseMeetingActivity"
            android:theme="@style/full_screen_dialog"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            />
        <activity android:name="se.dsektionen.dcide.Activity.QRActivity">

        </activity>
    </application>

</manifest>
